body {
  font-size: 120%;
  font-family: Arial;
  background-color: palegoldenrod;
}

button, input {
  font-size: 100%;
  font-family: Arial;
  border-radius: 10px;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

thead {
  background-color: goldenrod;
  
}

tbody tr:nth-child(even) {
  background-color: palegreen;
}

tbody tr:nth-child(odd) {
  background-color: palevioletred;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 150%;
  text-decoration: underline;
  font-family: Tahoma;
  color: blueviolet;
  font-weight: bolder;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}

#add-btn {
  background-color: forestgreen;
  color: goldenrod;
}

#sub-btn {
  background-color: darkred;
  color: powderblue;
}
